In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cv2

In [4]:
data=pd.read_csv('train_final.csv',index_col=False)

In [5]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

In [6]:
labels=data[['784']]

In [7]:
data.drop(data.columns[[784]],axis=1,inplace=True)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [8]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras import optimizers
from keras.datasets import mnist
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
from keras.utils.np_utils import to_categorical
from keras.models import model_from_json
K.image_data_format()

'channels_last'

In [9]:
labels = np.array(labels)

In [10]:
category=to_categorical(labels,num_classes=13)

In [11]:
print(category[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [12]:
tp = data.to_numpy()

In [13]:
x_train = tp.reshape(tp.shape[0] , 28,28,1)
tp.shape

(156617, 784)

In [14]:
x_train.shape

(156617, 28, 28, 1)

In [15]:
l=[]
for i in range(50621):
    l.append(np.array(data[i:i+1]).reshape(1,28,28))

In [16]:
np.random.seed(7)

Modelling

In [17]:
model = Sequential()

In [18]:
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))

In [19]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [20]:
model.fit(x_train , category , epochs=10 , batch_size=200 , shuffle= True , verbose= 1)

Epoch 1/10
784/784 [==============================] - 138s 174ms/step - loss: 0.3342 - accuracy: 0.9164
Epoch 2/10
784/784 [==============================] - 137s 175ms/step - loss: 0.0646 - accuracy: 0.9818
Epoch 3/10
784/784 [==============================] - 123s 157ms/step - loss: 0.0391 - accuracy: 0.9892
Epoch 4/10
784/784 [==============================] - 135s 172ms/step - loss: 0.0296 - accuracy: 0.9915
Epoch 5/10
784/784 [==============================] - 134s 171ms/step - loss: 0.0237 - accuracy: 0.9931
Epoch 6/10
784/784 [==============================] - 135s 172ms/step - loss: 0.0210 - accuracy: 0.9936
Epoch 7/10
784/784 [==============================] - 133s 169ms/step - loss: 0.0178 - accuracy: 0.9947
Epoch 8/10
784/784 [==============================] - 128s 163ms/step - loss: 0.0173 - accuracy: 0.9948
Epoch 9/10
784/784 [==============================] - 122s 156ms/step - loss: 0.0147 - accuracy: 0.9956
Epoch 10/10
784/784 [==============================] - 126s 161ms/step - loss: 0.0133 - accuracy: 0.9959

In [21]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("model_final.h5")

In [22]:
json_file = open('model_final.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
loaded_model.load_weights("model_final.h5")

In [23]:
img = cv2.imread('img.jpg',cv2.IMREAD_GRAYSCALE)

In [24]:
img

array([[254, 254, 254, ..., 254, 254, 254],
       [254, 254, 254, ..., 254, 254, 254],
       [254, 254, 254, ..., 254, 254, 254],
       ...,
       [254, 254, 254, ..., 254, 254, 254],
       [254, 254, 254, ..., 254, 254, 254],
       [254, 254, 254, ..., 254, 254, 254]], dtype=uint8)

In [25]:
if img is not None:
    #images.append(img)
    img=~img
    ret,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,ret=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs, key=lambda ctr: cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    print(len(cnt))
    rects=[]
    for c in cnt :
        x,y,w,h= cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print(rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]<(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print(bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print(len(dump_rect)) 
    final_rect=[i for i in rects if i not in dump_rect]
    print(final_rect)
    for r in final_rect:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop =thresh[y:y+h+10,x:x+w+10]
        

        im_resize = cv2.resize(im_crop,(28,28))


        im_resize=np.reshape(im_resize,(28,28,1))
        train_data.append(im_resize)

7
[[120, 151, 85, 266], [281, 149, 147, 271], [290, 158, 129, 253], [489, 273, 131, 10], [692, 147, 148, 275], [705, 175, 80, 97], [782, 174, 3, 3]]
[[0, 0, 0, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 1, 1], [0, 0, 0, 0, 1, 0, 1], [0, 0, 0, 0, 1, 1, 0]]
4
[[120, 151, 85, 266], [281, 149, 147, 271], [489, 273, 131, 10], [692, 147, 148, 275]]

In [26]:
s=''
for i in range(len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    result=np.argmax(loaded_model.predict(train_data[i]), axis=-1)
    if(result[0]==10):
        s=s+'-'
    if(result[0]==11):
        s=s+'+'
    if(result[0]==12):
        s=s+'*'
    if(result[0]==0):
        s=s+'0'
    if(result[0]==1):
        s=s+'1'
    if(result[0]==2):
        s=s+'2'
    if(result[0]==3):
        s=s+'3'
    if(result[0]==4):
        s=s+'4'
    if(result[0]==5):
        s=s+'5'
    if(result[0]==6):
        s=s+'6'
    if(result[0]==7):
        s=s+'7'
    if(result[0]==8):
        s=s+'8'
    if(result[0]==9):
        s=s+'9'
    
eval(s)

1/1 [==============================] - 0s 289ms/step
1/1 [==============================] - 0s 32ms/step
1/1 [==============================] - 0s 32ms/step
1/1 [==============================] - 0s 24ms/step

6